.carousel img {
  border: 7px solid rgb(0, 220, 140);
  object-fit: cover;
}

.carousel-item {
  border: black 7px solid;
}

.carousel {
  display: flex;
  justify-content: space-around;
  object-fit: cover;
  width: 600px;
}

.carousel .col {
  object-fit: fit;
}
